:root {
  color-scheme: light dark;
  --bg: light-dark(#fdfdfd, #191a1c);
  --s1: light-dark(white, #1d1e20);
  --s1-border: light-dark(#ebebeb, #313336);
  --s2: light-dark(#f9f9fb, #27282a);
  --s2-border: light-dark(#e2e4e9, #34373d);
  --font-main: light-dark(#171420, white);
  --font-mid: light-dark(#787887, #cccfd6);
  --font-subtle: light-dark(#98a1ae, #a3a4a9);
  --font-contrast: light-dark(white, #191a1c);
  --btn-bg: light-dark(white, #1d1e20);
  --btn-border: light-dark(#ebebeb, #313336);
  --btn-text: light-dark(#171420, white);
  --btn-hover: light-dark(white, #252629);
  --links: light-dark(#0052ff, #9fb8ff);
  --alert-bg: light-dark(rgba(37, 38, 41, 0.05), rgba(255, 255, 255, 0.08));
  --restart-bg: light-dark(#d0fc95, #1d1e20);
  --restart-text: light-dark(#171420, white);
  --lime: #d0fc95;
  --blue: #0000ff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  accent-color: var(--links);
  caret-color: var(--links);
  scrollbar-color: var(--s1) var(--s1-border);
  scrollbar-width: thin;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

button {
  background-color: unset;
  padding: unset;
  text-align: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: unset;
  cursor: pointer;
}

body {
  font-family: "Commit Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  text-size-adjust: 0.5;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  background: var(--bg);
  color: var(--font-main);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  font-family: inherit;
  gap: 4rem;
}

.welcome {
  text-align: center;
}

.game-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  place-content: center;
}

.play-wrapper button {
  width: 6rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  font-size: 2.5rem;
  border-radius: 1rem;
  color: var(--btn-text);
  cursor: pointer;
}

button:hover {
  background-color: var(--btn-hover);
}

.play-wrapper {
  display: grid;
  width: 100%;
  place-content: center;
  gap: 1.5rem;
}

.computer-btns {
  width: 100%;
  display: grid;
  place-content: center;
  gap: 1rem;
}

.computer-btns button {
  width: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.tippy-box {
  background-color: #252629 !important;
  color: white;
  border: 1px solid #2c2e32;
  font-family: "Commit Mono", monospace;
  font-size: 0.85rem;
}

.tippy-arrow::before {
  color: #252629 !important;
}

.scores-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.rounds-container {
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  width: fit-content;
  border-radius: 12px;
  overflow: clip;
  min-width: 10rem;
}

.round-choice {
  display: flex;
  gap: 3px;
}

.score-container {
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  width: 8.5rem;
  border-radius: 12px;
  overflow: clip;
}

.score-top {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--btn-border);
}

.score-bottom {
  padding-block: 10px;
  padding-inline: 8px;
  display: grid;
  place-content: center;
  width: 100%;
}

.rounds-inner {
  display: flex;
  gap: 1rem;
  padding-block: 3px;
  padding-inline: 4px;
}

.round-choice {
  display: flex;
  gap: 2px;
}

#yourChoice,
#botChoice {
  margin-inline-start: 4px;
}

.alert-wrapper {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.hidden {
  display: none;
}

.alert-card {
  background: var(--alert-bg);
  backdrop-filter: blur(16px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-width: 30vw;
  min-height: 30dvh;
}

.game-state {
  font-size: 1.5rem;
}

.alertText {
  font-size: 0.875rem;
}

.restart {
  height: 36px;
  padding-inline: 12px;
  font-size: 0.875rem;
  background-color: #1d1e20;
  max-width: fit-content;
  border-radius: 10px;
  background-color: var(--restart-bg);
  color: var(--restart-text);
}

.restart:hover {
  background-color: var(--restart-bg);
  color: var(--restart-text);
}

.light-dark {
  max-width: fit-content;
  padding-block: 2px;
  padding-inline: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--s1);
  border: 1px solid var(--s1-border);
  border-radius: 1em;
}

.switch {
  height: 30px;
  padding-inline: 10px;
  display: grid;
  place-content: center;
  border-radius: 1em;
}

.switch.active {
  background-color: var(--btn-hover);
  border: 1px solid var(--btn-border);
}

.switch svg {
  width: 15px;
  aspect-ratio: 1;
}

::selection {
  background: #d6fca6;
  color: #171420;
}

/* Scroll margin allowance above anchor links */
:target {
  scroll-padding-block-start: 2rem;
}

/* Scroll margin allowance below focused elements 
  to ensure they are clearly in view */
:focus {
  scroll-padding-block-end: 8vh;
}

@media only screen and (max-width: 410px) {
  .scores-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
